{% load static %}
<ul style="background-color: #4e73df;
    background-image: linear-gradient(180deg, #495057 10%, #495057 100%);"
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">

        <div class="sidebar-brand-text ">
            <img style="height: 60px" src="{% static 'admin/img/TunManga.png' %}" alt="">
        </div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home_manage' %}">
            <i class="fas fa-home" style='font-size:20px; color: #E9ECEF'></i>
            <span style="font-size: 16px; color: #E9ECEF">Tổng quan</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'manageCategory' %}">
            <i class='fas fa-clipboard-list' style='font-size:20px; color: #E9ECEF'></i>
            <span style="font-size: 16px; color: #E9ECEF"> Danh mục</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'manageStory' %}">
            <i class='fas fa-book' style='font-size:20px; color: #E9ECEF'></i>
            <span style="font-size: 16px; color: #E9ECEF">Truyện</span>
        </a>
    </li>
    <!-- Nav Item - Charts -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'manageUser' %}">
            <i class='fas fa-user-alt' style='font-size:20px; color: #E9ECEF'></i>
            <span style="font-size: 16px; color: #E9ECEF">Thành viên</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'manageHistory' %}">
            <i class='far fa-comment' style='font-size:20px; color: #E9ECEF'></i>
            <span style="font-size: 16px; color: #E9ECEF">Lịch Sử</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'notification' %}">
            <i class='far fa-bell' style='font-size:20px; color: #E9ECEF'></i>
            <span style="font-size: 16px; color: #E9ECEF">Thông Báo</span></a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>