

<div class="modal fade" id="exampleModalAddStory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-3" id="exampleModalLabel">Thêm truyện mới</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="add-sroty-form" method="POST" action="{% url 'addStory' %}" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="categoryName">Tên Truyện <span class="required">*</span></label>
                                {{ form.name }}
                                <span style="font-size: 12px; color: red;" id="errorNameStory"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="categoryDescription">Đường dẫn <span class="required">*</span></label>
                                {{ form.slug }}
                                <span style="font-size: 12px; color: red;" id="errorSlugStory"></span>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="form-group">
                                <label for="categoryDescription">Tác giả</label>
                                {{ form.author }}
                                <span style="font-size: 12px; color: red;" id="errorAuthorStory"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="{{ form.status.id_for_label }}">Trạng thái <span class="required">*</span></label>
                                {{ form.status }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="categoryDescription">Loại truyện <span class="required">*</span></label>
                                {{ form.story_new }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Ảnh bìa</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        {{ form.image }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="form-group">
                                <label for="{{ form.category.id_for_label }}">Danh mục <span class="required">*</span></label><br>
                                <div class="row justify-content-center">
                                    
                                    {% for category in form.category.field.choices %}
                                    <div class="form-check form-check-inline col-2 p-2">
                                        <input type="checkbox" id="category_{{ category.0 }}" name="category" value="{{ category.0 }}">
                                        <label for="category_{{ category.0 }}">{{ category.1 }}</label><br>
                                    </div>
                                        
                                    {% endfor %}

                                    {% comment %} {% for choice in form.category %}
                                        <div class="form-check form-check-inline col-2 p-2">
                                            <input class="form-check-input" type="checkbox" name="{{ form.category.html_name }}" value="{{ choice.choice_label }}" id="{{ choice.id_for_label }}">
                                            <label class="form-check-label" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                                        </div>
                                    {% endfor %} {% endcomment %}
                                </div>
                                <span style="font-size: 12px; color: red;" id="errorCategoryStory"></span>
                            </div>
                        </div>
                        
                        
                       
                        <div class="col-12">
                            <div class="form-group">
                                <label for="categoryDescription">Mô tả </label>
                                {{ form.description }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                    <button type="submit" class="btn btn-primary" id="saveStoryBtn">Lưu thông tin</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .required{
    color: red;
    margin-left: 3px;
    }
    #id_image, #id_status, #id_story_new{
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #6e707e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #d1d3e2;
        border-radius: 0.35rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    #id_category {
        display: block;
        width: 100%;
        min-height: 200px;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #6e707e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #d1d3e2;
        border-radius: 0.35rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>

<script>
    $(document).ready(function() {
        $(document).ready(function() {
            $('#id_name').on('input', function() {
                var name = $(this).val().trim();
                var slug = removeVietnameseTones(name.toLowerCase()).replace(/\s+/g, '-');
                $('#id_slug').val(slug);
            });
        
            function removeVietnameseTones(str) {
                str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
                str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
                str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
                str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
                str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
                str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
                str = str.replace(/đ/g, "d");
                // Some system encode vietnamese combining accent as individual utf-8 characters
                // Một vài bộ encode coi các dấu mũ, dấu chữ như một kí tự riêng biệt nên thêm hai dòng này
                str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // ̀ ́ ̃ ̉ ̣  huyền, sắc, ngã, hỏi, nặng
                str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // ˆ ̆ ̛  Â, Ê, Ă, Ơ, Ư
                // Remove extra spaces
                // Bỏ các khoảng trắng liền nhau
                str = str.replace(/ + /g, " ");
                str = str.trim();
                // Remove punctuations
                // Bỏ dấu câu, kí tự đặc biệt
                str = str.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g, "");
                return str;
            }
        });
        
    });
</script>


<script>
    $('#saveStoryBtn').click(function(e) {
        e.preventDefault(); // Ngăn chặn hành vi mặc định của nút submit
        console.log("Hiiii 4444");
        var form = $('#add-sroty-form')[0];
        var formData = new FormData(form);
        var otherValue = $('#id_image')[0].files[0];
        console.log('otherValue', otherValue)
        // Thêm các giá trị khác vào FormData nếu cần thiết
        formData.append('image', otherValue);

        // Collect selected categories


        $.ajax({
            url: $('#add-sroty-form').attr('action'),
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                console.log("Hiiii 111: ", response);
                if (!response.success) {
                    if (response.errors) {
                        if (response.errors.name) {
                            $('#errorNameStory').text("Tên không được để trống");
                        }
                        if (response.errors.slug) {
                            $('#errorSlugStory').text("Đường dẫn không được để trống");
                        }
                        if (response.errors.author) {
                            $('#errorAuthorStory').text("Tác giả không được để trống");
                        }
                        if (response.errors.category) {
                            $('#errorCategoryStory').text("Danh mục không được để trống");
                        }
                    }
                } else {
                    $('#exampleModalAddStory').modal('hide');
                    window.location.reload();
                }

            },
            error: function(xhr, status, error) {
                var listError = JSON.parse(xhr.responseText); // Phân tích chuỗi JSON
                console.log("Lỗi LOLLL: ", listError);
                if (listError.errors.name) {
                    $('#errorNameStory').text("Tên không được để trống");
                }
                if (listError.errors.slug) {
                    $('#errorSlugStory').text("Đường dẫn không được để trống");
                }
                if (listError.errors.author) {
                    $('#errorAuthorStory').text("Tác giả không được để trống");
                }
                if (listError.errors.category) {
                    $('#errorCategoryStory').text("Danh mục không được để trống");
                }
            }
        });
        return false; // Ngăn chặn mặc định chuyển hướng trang sau khi xử lý lỗi AJAX
    });
</script>
