{% extends 'admin/manage.html' %}
{% load static %}
{% block blog-product %}
    {% include 'admin/layout/message.html' %}
    <div class="mt-4">
        <div class="card shadow mb-4 ml-2">
            <div class="card-body pr-4 pl-4">
                <form action="{% url 'searchStory' %}" method="GET">
                    <div style="border-bottom: 1px solid #e3e6f0" class="row">
                        <div style="border-bottom: 1px solid #e3e6f0" class="col-12">
                            <h3>DANH SÁCH TRUYỆN</h3>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="name_category">Tên danh mục</label>
                                <input type="text" class="form-control" id="name_category" name="name_category"
                                       placeholder="Nhập tên danh mục">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="name_story">Tên truyện</label>
                                <input type="text" class="form-control" id="name_story" name="name_story"
                                       placeholder="Nhập tên truyện">
                            </div>
                        </div>
                        <div class="col-3">
                        </div>
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                        </div>
                    </div>
                </form>

                <div class="text-left mb-3 mt-3">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModalAddStory">
                        <i class="fa fa-plus-circle" style="font-size:20px"></i>
                        Thêm mới
                    </button>
                </div>
                <div class="table-responsive mt-4">
                    <table style="border: 1px solid #e3e6f0" class="table" id="dataTable" width="100%"
                           cellspacing="0">
                        <thead>
                        <tr style="padding-bottom: 25px;" class="text-center">
                            <th style="border: 1px solid #e3e6f0">STT</th>
                            <th style="border: 1px solid #e3e6f0">Ảnh</th>
                            <th style="border: 1px solid #e3e6f0">Thông Tin</th>
                            <th style="border: 1px solid #e3e6f0">Trạng Thái</th>
                            <th style="border: 1px solid #e3e6f0">Thao Tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for story in storys %}
                            <tr>
                                <td style="border: 1px solid #e3e6f0" class="shoping__cart__price text-center">
                                    {{ forloop.counter }}
                                </td>
                                <td class="text-center" style="border: 1px solid #e3e6f0">
                                    <img style="height: 120px" src="{{ story.ImageURL }}" alt="">
                                </td>
                                <td style="border: 1px solid #e3e6f0">
                                    <ul class="list-unstyled ml-3">
                                        <li><b>Tên: </b> {{ story.name }}</li>
                                        <li><b>Tác giả: </b> {{ story.author }} </li>
                                        <li><b>Thể loại: </b> {{ story.author }} </li>
                                        <li><b>View: </b> {{ story.view }}</li>
                                    </ul>
                                </td>
                                <td class="text-center" style="border: 1px solid #e3e6f0">Đang tiến hành</td>
                                <td class="text-center" style="border: 1px solid #e3e6f0">
                                    <a style="" href="{% url 'viewStory' %}?id={{ story.id }}"
                                       class="btn btn-info btn-circle mr-2">
                                        <i class="fa fa-eye" style="font-size:20px;"></i>
                                    </a>
                                    <a href="{% url 'editStory' %}?id={{ story.id }}"
                                       class="btn btn-warning btn-circle mr-2">
                                        <i class="fa fa-pencil" style="font-size: 20px"></i>
                                    </a>
                                    <a href="" data-product-id="{{ story.id }}"
                                       data-product-name="{{ story.name }}"
                                       class="btn btn-danger btn-circle"
                                       data-toggle="modal" data-target="#deleteStoryModal_{{ story.id }}">
                                        <i class="fa fa-trash-o" style="font-size: 20px "></i>
                                    </a>
                                    <div class="modal" id="deleteStoryModal_{{ story.id }}">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Xóa Truyện </h5>
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <span>Bạn có chắc chắn muốn xóa truyên này không <span
                                                            id="story-name"></span>?</span>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Quay lại
                                                    </button>
                                                    <a href="{% url 'deleteStory' story.id %}" type="button"
                                                       class="delete-story btn btn-danger">Xác nhận</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if storys.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1"><i class='fas fa-angle-double-left'></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ storys.previous_page_number }}"><i
                                        class='fas fa-angle-left'></i> </a>
                            </li>
                        {% endif %}

                        <li class="page-item disabled">
                            <span class="page-link">{{ storys.number }}</span>
                        </li>

                        {% if storys.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ storys.next_page_number }}"><i
                                        class='fas fa-angle-right'></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ storys.paginator.num_pages }}"><i
                                        class='fas fa-angle-double-right'></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container-fluid">

            {% include 'admin/story/addStory.html' %}


        </div>
    </div>


    <script>
        $('#saveStoryBtn').click(function (e) {
            e.preventDefault(); // Ngăn chặn hành vi mặc định của nút submit
            console.log("Hiiii 4444");
            var form = $('#exampleModalAddStory form');
            var categories = [];

            // Collect selected categories


            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    console.log("Hiiii 111: ", response);
                    if (!response.success) {
                        if (response.errors) {
                            if (response.errors.name) {
                                $('#errorNameStory').text("Tên không được để trống");
                            }
                            if (response.errors.slug) {
                                $('#errorSlugStory').text("Đường dẫn không được để trống");
                            }
                            if (response.errors.author) {
                                $('#errorAuthorStory').text("Tác giả không được để trống");
                            }
                            if (response.errors.category) {
                                $('#errorCategoryStory').text("Danh mục không được để trống");
                            }
                        }
                    } else {
                        $('#exampleModalAddStory').modal('hide');
                        window.location.reload();
                    }
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi AJAX
                    var listError = JSON.parse(xhr.responseText); // Phân tích chuỗi JSON
                    console.log("Lỗi LOLLL: ", listError);
                    if (listError.errors.name) {
                        $('#errorNameStory').text("Tên không được để trống");
                    }
                    if (listError.errors.slug) {
                        $('#errorSlugStory').text("Đường dẫn không được để trống");
                    }
                    if (listError.errors.author) {
                        $('#errorAuthorStory').text("Tác giả không được để trống");
                    }
                    if (listError.errors.category) {
                        $('#errorCategoryStory').text("Danh mục không được để trống");
                    }
                }
            });
            return false; // Ngăn chặn mặc định chuyển hướng trang sau khi xử lý lỗi AJAX
        });


    </script>
{% endblock blog-product %}
