{% extends 'app/base.html' %}
{% load static %}
{% block category_context %}
    {% include 'app/layout/message.html' %}

    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4> Thể loại</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{% url 'category' %}">Tất cả</a>
                                </div>
                                {% for category in categories %}
                                    <div class="col-lg-6 col-md-4 col-sm-6 mix oranges fresh-meat pr-0 mt-1">
                                        <a href="{% url 'stories_by_category' category.id %}">{{ category }}</a>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-12">
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                <div class="filter__sort">
                                    <span>Sắp xếp</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for story in stories %}
                            <div class="col-md-3 col-sm-4 col-6 mix oranges fresh-meat">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ story.ImageURL }}">
                                    </div>
                                    <div class="product__item__text">
                                        <h6><a href="{% url 'detail' %}?slug={{ story.slug }}">{{ story.name }}</a></h6>
                                        {#                                        {% for genre in story.genres.all %}#}
                                        {#                                            {{ genre.name }}#}
                                        {#                                        {% endfor %}#}

                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        {% if story.chapter_number %}
                                            <a style="font-size: 14px"
                                               href="{% url 'chapter_detail' chapter_slug=story.slug %}?chap={{ story.chapter_id }}">Chap {{ story.chapter_number }}</a>
                                            <span style="font-size: 11px">{{ story.latest_chapter_date }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="pagination justify-content-center mt-4">
                        <ul class="pagination">
                            {% if stories.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">
                                        <i class="fas fa-angle-double-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ stories.previous_page_number }}">
                                        <i class="fas fa-angle-left"></i>
                                    </a>
                                </li>
                            {% endif %}

                            <li class="page-item disabled">
                    <span class="page-link">
                        Trang {{ stories.number }} / {{ stories.paginator.num_pages }}
                    </span>
                            </li>

                            {% if stories.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ stories.next_page_number }}">
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ stories.paginator.num_pages }}">
                                        <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock category_context %}