{% extends 'app/base.html' %}
{% load static %}
{% block information %}
    {% include 'app/layout/message.html' %}
    <div class="container mt-5 mb-3">
        <div class="row">
            <!-- Cột ảnh và thông tin người dùng -->
            <div class="col-md-3">
                <div class="">
                    <img style="width: 70px; border-radius: 50%"
                         src="https://th.bing.com/th/id/OIP.kZTP9p8fsKVEfXx5m8gV_AHaHa?w=182&h=182&c=7&r=0&o=5&pid=1.7"
                         alt="Ảnh đại diện" class="img-fluid rounded-circle mb-3">
                    <h5>Người dùng: Phạm Tuân</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-dark">Thông Tin Cá Nhân</a></li>
                        <li><a href="#" class="text-dark">Thay Đổi Mật Khẩu</a></li>
                        <li><a href="#" class="text-dark">Thoát</a></li>
                    </ul>
                </div>
            </div>
            <!-- Cột hiển thị thông tin cá nhân hoặc form thay đổi mật khẩu -->
            <div class="col-md-9">
                <div id="info">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="mb-2">Thông Tin Cá Nhân</h2>
                            <p><strong>Tên:</strong> John Doe</p>
                            <p><strong>Email:</strong> johndoe@example.com</p>
                            <p><strong>Địa Chỉ:</strong> 123 Street, City, Country</p>
                        </div>
                        <div class="col-md-6">
                            <h2 class="mb-2">Avatar</h2>
                            {% if profile %}
                                <img style="border-radius: 50%" src="{{ profile.ImageURL }}" class="card-img-top"
                                     alt="User Image">
                            {% else %}
                                <img style=" width:80px;border-radius: 50%; border: 1px solid red"
                                     src="{% static 'app/images/gray-avatar-picture-profil-vector-32265860.jpg' %}"
                                     class="card-img-top" alt="User Image">
                            {% endif %}
                        </div>
                    </div>
                    <!-- Hiển thị thông tin cá nhân -->
                </div>


                <div id="changePassword" style="display: none;">
                    <!-- Form thay đổi mật khẩu -->
                    <h2>Thay Đổi Mật Khẩu</h2>
                    <form>
                        <div class="form-group">
                            <label for="currentPassword">Mật Khẩu Hiện Tại:</label>
                            <input type="password" class="form-control" id="currentPassword">
                        </div>
                        <div class="form-group">
                            <label for="newPassword">Mật Khẩu Mới:</label>
                            <input type="password" class="form-control" id="newPassword">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Xác Nhận Mật Khẩu Mới:</label>
                            <input type="password" class="form-control" id="confirmPassword">
                        </div>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Script để chuyển đổi giữa hai phần thông tin cá nhân và form thay đổi mật khẩu -->
    <script>
        $(document).ready(function () {
            $("a[href='#']").click(function () {
                var target = $(this).text().toLowerCase().replace(/\s/g, '');
                if (target === 'thayđổimậtkhẩu') {
                    $('#info').hide();
                    $('#changePassword').show();
                } else {
                    $('#changePassword').hide();
                    $('#info').show();
                }
            });
        });
    </script>
{% endblock information %}
