<div class="modal fade" id="exampleModalEditCategory-{{category.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sửa Danh Mục</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="editCategoryForm" method="POST" action="{% url 'editCategory' %}?id={{ category.id }}">
            <div class="modal-body">
                <!-- Form to edit category -->
                
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ category.id }}">
                <div class="form-group">
                    <label for="categoryDescription">Tên Danh Mục</label>
                    <input type="text" class="form-control" id="editCategoryName" name="name" value="{{ category.name }}">
                </div>
                <div class="form-group">
                    <label for="categoryDescription">Đường Dẫn</label>
                    <input type="text" class="form-control" id="editCategorySlug" name="slug" value="{{ category.slug }}">
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="submit" form="editCategoryForm" class="btn btn-primary">Lưu Thay Đổi</button>
            </div>
        </form>
    </div>
</div>