<div class="modal fade" id="exampleModalAddUser" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm người dùng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'addUser' %}" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="name">Tên đăng nhập: <span class="required">*</span></label>
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="email">Email: <span class="required">*</span></label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="email">Họ:</label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="email">Tên:</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="password">Mật khẩu: <span class="required">*</span></label>
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="confirm-password">Xác nhận mật khẩu: <span class="required">*</span></label>
                                {{ form.password2 }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại
                    </button>
                    <button type="submit" class="btn btn-primary">Lưu thông tin</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .required{
    color: red;
    margin-left: 3px;
    }
</style>