{% for user in users %}
<div class="modal" id="exampleModalEditUser-{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabelEditUser" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa người dùng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editCategoryForm-{{user.id}}" method="POST" action="{% url 'editUser' %}?id={{ user.id }}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ user.id }}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editCategoryName">Tên Đăng Nhập</label>
                                <input type="text" class="form-control" name="user_name" value="{{ user.username }}">
                            </div>
                            <div class="form-group">
                                <label for="editCategorySlug">Email</label>
                                <input type="text" class="form-control" name="email" value="{{ user.email }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editCategoryName">Họ</label>
                                <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                            </div>
                            <div class="form-group">
                                <label for="editCategorySlug">Tên</label>
                                <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editCategoryName">Mật Khẩu</label>
                                <input type="text" class="form-control" name="password1" value="{{ user.password1 }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editCategorySlug">Xác Nhận Mật Khẩu</label>
                                <input type="text" class="form-control" name="password2" value="{{ user.password2 }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" form="editCategoryForm-{{category.id}}" class="btn btn-primary">Lưu Thay Đổi</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
