{% load static %}
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="{% url 'home' %}"><img style="height: 70px;"
                                                        src="{% static 'app/images/TunManga.png' %}" alt=""></a>
                    </div>
                    <ul>
                        <li>Liên hệ</li>
                        <li>Phone: +84 974.897.450</li>
                        <li>Email: tunmanga@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Từ Khóa</h6>
                    <div class="row d-flex ml-2">
                        <button style="border-color: #0F75BC" type="button" class="btn  mr-2 mb-2">Manga</button>
                        <button style="border-color: #0F75BC" type="button" class="btn  mr-2 mb-2">Manhua</button>
                        <button style="border-color: #0F75BC" type="button" class="btn  mr-2 mb-2">Manhwa</button>
                        <button style="border-color: #0F75BC" type="button" class="btn  mr-2 mb-2">Truyện tranh online</button>
                        <button style="border-color: #0F75BC" type="button" class="btn  mr-2 mb-2">Truyện ngôn tình</button>
                        <button style="border-color: #0F75BC" type="button" class="btn  mr-2 mb-2">Truyện tranh</button>
                        <button style="border-color: #0F75BC" type="button" class="btn  mr-2 mb-2">Truyện tranh hot</button>
                        <button style="border-color: #0F75BC" type="button" class="btn mr-2 mb-2" >Đọc truyện tranh</button>
                        <button style="border-color: #0F75BC" type="button" class="btn  mr-2 mb-2">Manhua Nhật Bản</button>
                        <button style="border-color: #0F75BC" type="button" class="btn  mr-2 mb-2">Truyện tranh online</button>
                        <button style="border-color: #0F75BC" type="button" class="btn  mr-2 mb-2">Truyện hay</button>
                        <button style="border-color: #0F75BC" type="button" class="btn  mr-2 mb-2   ">Truyện màu</button>
                        <!-- Thêm các button khác nếu cần -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                {#                    <div class="footer__widget">#}
                {#                        <h6>Tham gia với chúng tôi</h6>#}
                {#                        <p>Nhận thông tin qua Email của cửa hàng để nhận những ưu đãi hấp dẫn</p>#}
                {#                        <form action="#">#}
                {#                            <input type="text" placeholder="Email của bạn">#}
                {#                            <button type="submit" class="site-btn">Đăng Kí</button>#}
                {#                        </form>#}
                {#                        <div class="footer__widget__social">#}
                {#                            <a href="#"><i class="fa fa-facebook"></i></a>#}
                {#                            <a href="#"><i class="fa fa-instagram"></i></a>#}
                {#                            <a href="#"><i class="fa fa-twitter"></i></a>#}
                {#                            <a href="#"><i class="fa fa-pinterest"></i></a>#}
                {#                        </div>#}
                {#                    </div>#}
            </div>
        </div>
        {#            <div class="row">#}
        {#                <div class="col-lg-12">#}
        {#                    <div class="footer__copyright">#}
        {#                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->#}
        {#  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>#}
        {#  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>#}
        {#                        <div class="footer__copyright__payment"><img src="{% static 'app/images/payment-item.png' %}" alt=""></div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
    </div>
</footer>